*{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    padding:0;
    margin:0;
}
a,img,button,input,textarea,div,button:focus{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}
/*
KISSY CSS Reset
理念：清除和重置是紧密不可分的
特色：1.适应中文 2.基于最新主流浏览器
维护：玉伯(lifesinger@gmail.com), 正淳(ragecarrier@gmail.com)
*/

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }

body {
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    margin: 0 auto !important;
    background-color: #f4f4f4;
    color: #666;
}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

/**
    头部样式
 */
#header {
    width:100%;
    color: #fff;
}
#header .header-top-bg {
    background-color: #292929;
}
#header .header-top {
    width:980px;
    height:30px;
    margin:0 auto;
    line-height:30px;
}
#header .top-left{
    float: left;
}
#header .top-left h3 {}
#header .top-right{
    float: right;
}
#header .top-right .nav-link {}
#header .top-right .nav-link li {
    float: left;
    margin-left:10px;
    margin-right:10px;
}
#header .top-right a{
    color: #fff;
}
#header .header-main-bg {
    width:100%;
    background-color: #fff;
}
#header .header-main {
    padding-top:30px;
    width: 980px;
    margin:0 auto;
    height: 130px;
}
#header .main-left {
    float: left;
}
#header .main-right {
    float: right;
}
#header .header-nav-bg {
    background-color: #f5f5f5;
    border-top:1px solid #deddde;
    border-bottom:2px solid #deddde;
}
#header .header-nav {
    width:980px;
    height:50px;
    margin:0 auto;
}
#header .header-nav ul {
    float: left;
    margin-top:5px;
}
#header .header-nav li {
    float: left;
    width: 90px;
    background: url(../img/bg/icon-bg.png) no-repeat 0px -78px;
}
#header .header-nav li:first-child {
    background: none;
}
#header .header-nav li.w {
    width:118px;
}
#header .header-nav li a {
    display: block;
    height: 42px;
    line-height: 42px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #333;
}

/**
    尾部样式
 */
#footer {
    width:100%;
    background-color: #292929;
}
#footer .footer-nav {
    width:980px;
    margin:0 auto;
}
#footer .footer-nav ul {
    padding: 10px 0px;
    float: left;
}
#footer .footer-nav li {
    float: left;
    padding: 3px 15px;
    height: 20px;
    line-height: 20px;
    background: url(../img/bg/icon-bg.png) no-repeat 0px -86px;
    font-size: 12px;
    font-weight: bold;
}
#footer .footer-nav li:first-child{
    background: none;
    padding-left:0;
}
#footer .footer-nav li a{
    color: #fff;
}
#footer .footer-service {
    width:980px;
    margin:0 auto;
}
#footer .footer-service .service-left{
    float: left;
    width: 750px;
    padding-top:10px;
}
#footer .footer-service .service-left ul {
    margin: 6px 0px;
    margin-left:-12px;
}
#footer .footer-service .service-left li{
    float: left;
    padding: 2px 12px;
    height: 18px;
    line-height: 18px;
}
#footer .footer-service .service-left li a {
    color: #fff;
}
#footer .footer-service .service-right{
    float: right;
    width: 150px;
    position: relative;
    top:40px;
}
#footer .footer-hotline {
    width:980px;
    margin:10px auto;
}
#footer .footer-hotline p {
    color: #fff;
    font-size:18px;
}
#footer .footer-copyright {
    width:980px;
    margin:10px auto;
    padding-bottom:10px;
    padding-top:5px;
}
#footer .footer-copyright p{
    font-size:13px;
    color: #fff;
}